.header {
  background-color: #fff; /* Primary Dark Color */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-weight: bold;
  height: 60px; /* Set fixed height for the header */
  position: fixed; /* Keep the header fixed */
  top: 0;
  width: 100%; /* Make sure it spans the full width */
  z-index: 1000; /* Ensure it stays on top of the navbar */
}

.header h1 {
  margin: 0;
  color: #2c2e34; /* Text Color (Light) */
}

.header-icons {
  display: flex;
  gap: 15px;
}

.header-icon {
  font-size: 40px;
  color: #fff; /* Text Color (Light) */
  cursor: pointer;
  background-color: #2c2e34;
  padding: 8px;
  border-radius: 25px;
}

.icon:hover {
  color: #7091E6; /* Lighter Blue Color for hover effect */
}
