/* Reset basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.content-container {
  display: flex;
  flex: 1;
}


.main-screen {
  margin-top: 60px; /* Adjust content to not overlap the header */
  margin-left: 20%;
  padding: 20px;
  background-color: #f4f4f4;
  flex: 4; /* 80% width */
}